* {
  box-sizing: border-box;
}

body {
  background-color: #efedef;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  color: #fff;
  text-align: center;
  font-family: arial, sans-sans-serif;
  font-size: em1;
  max-width: 500px;
  margin: auto;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(0, 0, 0, .15);
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 100%;
}

header {
  background-color: #4c4947;
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .15);
}

button {
  height: 38px;
  background: linear-gradient(to bottom, #bc50a0 0%, #ad3b8e 100%);
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #862d6e;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
  cursor: pointer;
  padding: 0px 10px 0px 5px;
  margin: 5px;
}

section.tagline {
  width: 100%;
  margin: 0px;
  padding: 2px 0px 10px 0px;
  text-align: center;
  background-color: #629932;
}

#formSection {
  /* text-align: center; */
  padding: 20px 0px 20px 0px;
  background-color: #ceccce;
}

#nameResult {
  margin: 20px;
  font-family: 'Patua One', cursive;
  font-size: 3em;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 1px 0 #b9b9b9, 0 2px 0 #aaa, 0 3px 1px rgba(0, 0, 0, .1), 0 0 3px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .2), 0 2px 5px rgba(0, 0, 0, .25), 0 7px 7px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .15);
}

#domainContainer {
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.domainHeader {
  background-color: #4c4947;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  text-align: left;
  padding: 1px 0px 1px 10px;
  max-width: 400px;
  margin: auto;
}

#domainResults {
  padding-top: 5px 5px 10px 5px;
  background-color: #e6e6e6;
  max-width: 400px;
  margin: auto;
}

.domain {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  padding: 7px 0px 7px 7px;
  font-size: em1;
  color: #55862d;
  border: 1px solid #6f6b68;
  width: 100%;
  text-align: left;
  clear: both;
  font-weight: bold;
}

.domainLink {
  color: #340101;
  text-decoration: underline;
}

.domainUnavail {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  padding: 7px 0px 7px 7px;
  font-size: em1;
  color: #878787;
  border: 1px solid #6f6b68;
  width: 100%;
  /* float: left; */
  text-align: left;
  clear: both;
  font-weight: lighter;
}

#markerContainer {
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.markerHeader {
  background-color: #4c4947;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  text-align: left;
  padding: 1px 0px 1px 10px;
  max-width: 400px;
  margin: auto;
}

#markerResults {
  padding-top: 5px 5px 10px 5px;
  background-color: #e6e6e6;
  max-width: 400px;
  margin: auto;
}

.TMcontainer {
  border: 1px solid #6f6b68;
}

.TM {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  padding: 7px 0px 20px 0px;
  font-size: em1;
  color: #55862d;
  width: 100%;
  text-align: left;
  clear: both;
  font-weight: bold;
}

.TMregistered {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  padding: 7px 0px 7px 7px;
  font-size: em1;
  color: #494949;
  /* border: 1px solid #6f6b68; */
  width: 100%;
  /* float: left; */
  text-align: left;
  clear: both;
  font-weight: lighter;
}

.TMregisteredHead {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  padding: 7px 0px 5px 7px;
  font-size: em1;
  color: #494949;
  /* border: 1px solid #6f6b68; */
  width: 100%;
  /* float: left; */
  text-align: left;
  clear: both;
  font-weight: lighter;
}

.TMavail {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  padding: 7px 0px 7px 7px;
  font-size: em1;
  color: #494949;
  border: 1px solid #6f6b68;
  width: 100%;
  /* float: left; */
  text-align: left;
  clear: both;
  font-weight: lighter;
}

.buyButton {
  color: #fff;
  background-color: #55862d;
  height: 100%;
  /* padding:7px; */
  padding: 7px 7px 7px 7px;
  float: right;
  clear: both;
  margin-top: -7px;
  font-weight: bold;
}

.sold {
  color: #878787;
  height: 100%;
  /* padding:7px; */
  padding: 7px 7px 7px 7px;
  float: right;
  clear: both;
  margin-top: -7px;
  font-weight: lighter;
}

/*------------------- Select DropDown styling -------------------------*/

/*the container must be positioned relative:*/

.custom-select {
  position: relative;
  font-family: Arial;
  width: 180px;
  display: inline-block;
  text-align: left;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #6c6a68;
}

/*style the arrow inside the select element:*/

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/

.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/

.select-items {
  position: absolute;
  background-color: #55862d;
  v top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/

.select-hide {
  display: none;
}

/*create rollover for letter options */

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*------------------ Error Box -----------------------*/

#errorOverlay {
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 100%;
  z-index: 10;
}

#errorBox {
  display: none;
  position: fixed;
  border-radius: 7px;
  width: 300px;
  z-index: 10;
  background: #55862d;
}

#errorBox>div {
  margin: 3px;
  background: #55862d;
}

#errorBoxBody {
  background: #55862d;
  font-size: 1em;
  padding: 10px 10px 0px 10px;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .15);
  text-align: left;
}

#errorBoxFooter {
  background: #55862d;
  font-size: 1em;
  padding: 5px;
  text-align: right;
}

/* ------------------- Media Queries -------------------------*/

@media only screen and (max-width: 600px) {
  section.tagline {
    width: 100%;
    margin: 0px;
    padding: 2px 10px 10px 10px;
    text-align: center;
    background-color: #629932;
  }
  #domainContainer {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  #markerContainer {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
}
